{% extends 'base/base.html' %}

{% block tilte %}{% endblock %}

{% block content %}

<h1>Заказ №{{ order.id }}</h1>
<p>Статус: {{ order.status }}</p>
<p>Адрес доставки: {{ order.address }}</p>
<p>Дата создания: {{ order.created_at }}</p>

<hr>
<h2>Товары в заказе:</h2>
{% for item in order.items.all %}
    <div class="product-block-home">
        <a href="{% url 'product' item.product.slug %}" class="product-link">
            <div class="product-name-in-list">{{ item.product.name }}</div>
            <div class="product-description-in-list">{{ item.product.description|truncatechars:300 }}</div>
            {% if item.product.photo %}
                <img class="products-middle-size-photo-in-list"
                     src="{{ item.product.photo.url }}"
                     alt="{{ item.product.name }}"
                     width="200px" height="300px">
            {% endif %}
        </a>
        <div class="product-price-in-list">Цена: <span class="product-price-value">${{ item.price }}</span></div>
        <div class="product-quantity-in-list">Количество: <span class="product-price-value-in-list">{{ item.quantity }}</span></div>
    </div>
{% empty %}
    <p>Нет товаров в этом заказе.</p>
{% endfor %}


{% endblock %}
